default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.22
    hooks:
      - id: uv-lock
        language: python
        additional_dependencies: [uv==0.9.22]

      - id: uv-export
        args: [ "--format=requirements.txt", "--output-file=requirements.txt", "--no-annotate", "--no-header", "--no-hashes", "--no-dev" ]
        language: python
        additional_dependencies: [uv==0.9.22]

      - id: uv-sync
        language: python
        additional_dependencies: [uv==0.9.22]

  - repo: local
    hooks:
      - id: uv-format
        name: uv-format
        entry: uv format --preview-features format --
        language: python
        additional_dependencies: [uv==0.9.22]
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: uv run -m isort --verbose --
        language: python
        additional_dependencies: [uv==0.9.22]
        types: [python]
        pass_filenames: true

      - id: pylint
        name: pylint
        entry: uv run -m pylint uc_intg_stormaudio
        language: python
        additional_dependencies: [uv==0.9.22]
        types: [python]
        pass_filenames: false

      - id: flake8
        name: flake8
        entry: uv run -m flake8 uc_intg_stormaudio --count --show-source --statistics
        language: python
        additional_dependencies: [uv==0.9.22]
        types: [python]
        pass_filenames: false
