# Docker Compose for development with the UC Core Simulator
name: integration-stormaudio

services:
  # Unfolded Circle Core Simulator for testing
  core-simulator:
    image: unfoldedcircle/core-simulator
    restart: "unless-stopped"
    hostname: core-simulator
    network_mode: "host"
    environment:
      - UC_INTEGRATION_DISABLE_CERT_VERIFICATION=true
#    ports:
#      - "8080:8080"
#      - "8443:8443"
    volumes:
      - simulator-data:/data
    depends_on:
      - uc-intg-stormaudio

  # Your integration service
  uc-intg-stormaudio:
     build:
       dockerfile: ./Dockerfile
     hostname: uc-intg-stormaudio
     # nodemon watches for file changes and auto-restarts
     command: bash -c "UC_INTEGRATION_INTERFACE=$(hostname -i) nodemon --verbose --ignore config/config.json -e py,json --exec 'python3 -u' intg-stormaudio/driver.py"
     volumes:
       - .:/app
       - integration-data:/config

  echo-server:
     build:
       dockerfile: ./server.Dockerfile
     hostname: echo-server
     # nodemon watches for file changes and auto-restarts
     command: bash -c "UC_INTEGRATION_INTERFACE=$(hostname -i) nodemon --verbose --ignore config/config.json -e py,json --exec 'python3 -u' server.py"
     ports:
       - 23:23
     volumes:
       - .:/app

volumes:
  simulator-data:
  integration-data:
