name: Lint GitHub Actions workflows
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: false
      - name: actionlint
        uses: raven-actions/actionlint@v2
        with:
          flags: "-ignore SC2086 -ignore SC2116"