name: release
on:
  push:
    branches:
      - main

concurrency:
  group: release-please

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GOOGLE_RELEASE_PLEASE_TOKEN }}
          # @see https://github.com/googleapis/release-please/blob/main/docs/manifest-releaser.md#configfile
          config-file: 'release-please-config.json'
          manifest-file: .release-please-manifest.json
