name: release
on:
  push:
    branches:
      - main

concurrency:
  group: release-please

permissions:
  contents: write
  issues: write
  pull-requests: write

env:
  INTG_NAME: stormaudio
  # Python version to use in the builder image. See https://hub.docker.com/r/unfoldedcircle/r2-pyinstaller for possible versions.
  PYTHON_VER: 3.11.12-0.3.0

jobs:
  release-please:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GOOGLE_RELEASE_PLEASE_TOKEN }}
          # @see https://github.com/googleapis/release-please/blob/main/docs/manifest-releaser.md#configfile
          config-file: 'release-please-config.json'
          manifest-file: .release-please-manifest.json

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v6

      - name: Get version and id
        if: ${{ steps.release.outputs.release_created }}
        run: |
          echo "DRIVER_ID=$(jq .driver_id -r driver.json)" >> $GITHUB_ENV

      - name: Build
        if: ${{ steps.release.outputs.release_created }}
        run: |
          sudo apt-get update && sudo apt-get install -y qemu-system-arm binfmt-support qemu-user-static
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          echo "Starting pyinstaller build"
          docker run --rm --name builder \
            --platform=aarch64 \
            --user=$(id -u):$(id -g) \
            -v ${GITHUB_WORKSPACE}:/workspace \
            docker.io/unfoldedcircle/r2-pyinstaller:${{ env.PYTHON_VER }} \
            bash -c \
            "cd /workspace && \
              python -m pip install -r requirements.txt && \
              pyinstaller --clean --onedir --name intg-${{ env.DRIVER_ID }} --collect-all zeroconf intg-${{ env.INTG_NAME }}/__init__.py"

      - name: Prepare artifacts
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
        run: |
          mkdir -p artifacts/bin
          mv dist/intg-${{ env.DRIVER_ID }}/* artifacts/bin
          mv artifacts/bin/intg-${{ env.DRIVER_ID }} artifacts/bin/driver
          cp driver.json artifacts/
          echo "ARTIFACT_NAME=uc-intg-${{ env.DRIVER_ID }}-${{ steps.release.outputs.tag_name }}-aarch64" >> $GITHUB_ENV

      - name: Create upload artifact archive
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
        run: | 
          tar czvf ${{ env.ARTIFACT_NAME }}.tar.gz -C ${GITHUB_WORKSPACE}/artifacts .

      - name: Upload Release Artifact
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GOOGLE_RELEASE_PLEASE_TOKEN }}
        run:
          gh release upload ${{ steps.release.outputs.tag_name }} ${{ env.ARTIFACT_NAME }}.tar.gz
